<header class="row">
  <h1 class="text-center col-md-6 col-md-offset-3">Blogs</h1>
</header>
<section class="row">
  <div class="form-group">
    <button ng-click="newBlog()" class="btn btn-info">
      <i aria-hidden="true" class="glyphicon glyphicon-pencil"></i>
      New Blog</button>
  </div>
</section>
<section class="row" ng-if="blogs">
  <ul class="list-unstyled">
    <li ng-repeat="blog in blogs">
      <section class="well col-md-6 col-md-offset-3">
        <h1 class="h3 col-md-6 text-right" style="margin-top: 0"><a href ng-click="view(blog.id)" >{{blog.title}}</a></h1>
        <div class="col-md-6">
          <button ng-click="edit(blog.id)" class="btn btn-info">Edit</button>
        </div>
      </section>
    </li>
  </ul>
</section>